.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    z-index: 10;
}

.modal.active {
    transform: scale(1);
}

.modal-content {
    padding: 20px;
    background-color: white;
    width: 20%;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    color: #e66b6b;
    align-items: center;
}

.btn-close {
    background-color: white;
    border: none;
    cursor: pointer;
    color: #e66b6b;
}

.modal-input {
    border: none;
    border-bottom: 1px solid silver;
    width: 100%;
    margin: 15px 0;
}

.btn-save button {
    background-color: #e66b6b;
    color: #FFF;
    margin: 0 5px 0 0;
}

.btn-save button:hover {
    background-color: #e66b6b;
}

.modal-title {
    color: #bebebe;
}

.group-btn {
    width: 100%;
    background-color: #e66b6b;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    color: #fff;
}