.app {
  margin: 70px 30%;
  background-color: #FFF;
  border-radius: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 40px 20px;
  background-color: #e66b6b;
  border-radius: 20px 20px 0 0;
}

.month-nav {
  display: flex;
  text-align: center;
}

.current-month-year {
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
}

.change-month-btn {
  color: #FFF;
  cursor: pointer;
  margin: 0 10px;
}

.event-btn button {
  background-color: #e85656;
  height: 30px;
  color: #fff;
  font-size: 16px;
  text-transform: lowercase;
}

.event-btn button:hover {
  background-color: #ec4545;
}

.event-btn:hover {
  cursor: pointer;
}

.table {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.table-head-text {
  text-transform: uppercase;
  color: #e66b6b;
  padding: 10px 0;
}

.table-day {
  width: 10%;
  height: 70px;
}

.day {
  height: 100%;
}

.table-day-title {
  display: flex;
  justify-content: center;
}

.current-day {
  height: 100%;
}

.current-day div{
  font-weight: 600;
  color: #e66b6b;
}