.app {
  margin: 70px 15%;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.current-month-year {
  color: #000;
  font-size: 20px;
  font-weight: 600;
}

.change-month-btn {
  background-color: white;
  border: none;
  width: 30px;
  height: 30px;
  margin: 0 5px;
  cursor: pointer;
}

.event-btn {
  background-color: #47a4cb;
  border-radius: 50%;
  border: none;
  width: 30px;
  height: 30px;
  color: #fff;
  font-size: 16px;
}

.event-btn:hover {
  cursor: pointer;
}

.table {
  width: 100%;
  margin: 0 auto;
  border: 1px solid silver;
  text-align: center;
}

.table-head-text {
  text-transform: uppercase;
}

.table-day {
  border: 1px solid silver;
  width: 10%;
  height: 90px;
}

.day {
  height: 100%;
}

.table-day-title {
  display: flex;
  margin: 0 0 0 5px;
}

.empty-day {
  background-color: rgb(238, 238, 238);
}

.current-day {
  height: 100%;
  background-color: #edf8eb;
}